.responsive-carousel {
  border: 1px solid blue;
  position: relative; }
  .responsive-carousel-rail {
    overflow: hidden; }
  .responsive-carousel-train {
    transition: 0.5s all ease-out;
    position: relative;
    white-space: nowrap;
    font-size: 0;
    margin-left: -8px;
    margin-right: -8px; }
    .responsive-carousel-train > div {
      text-align: left;
      white-space: normal;
      overflow: hidden; }

.responsive-carousel-slide {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px; }
  .responsive-carousel-slide img,
  .responsive-carousel-slide picture {
    width: 100%; }
  .responsive-carousel--cols- .responsive-carousel-slide {
    width: 100%; }
  .responsive-carousel--cols-1 .responsive-carousel-slide {
    width: 100%; }
  .responsive-carousel--cols-2 .responsive-carousel-slide {
    width: 50%; }
  .responsive-carousel--cols-3 .responsive-carousel-slide {
    width: 33.33333333333%; }
  .responsive-carousel--cols-4 .responsive-carousel-slide {
    width: 25%; }
  .responsive-carousel--cols-5 .responsive-carousel-slide {
    width: 20%; }
  .responsive-carousel--cols-6 .responsive-carousel-slide {
    width: 16.666666667%; }
  .responsive-carousel--fade .responsive-carousel-slide {
    background: transparent;
    display: none;
    transform: translate3d(0, 0, 0); }
    .responsive-carousel--fade .responsive-carousel-slide.is-active {
      display: inline-block;
      opacity: 1;
      z-index: 2;
      position: relative;
      animation: responsiveCarouselSlideFadeIn 1s ease-out; }
    .responsive-carousel--fade .responsive-carousel-slide.was-active-before {
      display: inline-block;
      opacity: 0;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      animation: responsiveCarouselSlideFadeOut 1s; }
    .responsive-carousel--fade .responsive-carousel-slide.has-hidden-controls {
      z-index: 5; }

@keyframes responsiveCarouselSlideFadeIn {
  from {
    opacity: 0;
    z-index: 1; }
  to {
    opacity: 1;
    z-index: 2; } }

@keyframes responsiveCarouselSlideFadeOut {
  from {
    opacity: 1;
    z-index: 2; }
  to {
    opacity: 0;
    z-index: 1; } }
