.responsive-carousel {
    border: 1px solid blue;
    position: relative;
    &-rail {
        overflow: hidden;
    }

    &-train {
        transition: 0.5s all ease-out;
        position: relative;
        white-space: nowrap;
        font-size: 0;
        // get rid of padding again
        margin-left: -$carousel-spacing*0.5;
        margin-right: -$carousel-spacing*0.5;

        // the transclusion wrapper div for the slides
        > div {
            text-align: left;
            white-space: normal;
            overflow: hidden;
        }
    }
}
